accelerate==0.21.*
colorama
datasets
einops
markdown
numpy==1.24.*
pandas
peft==0.7.*
Pillow>=9.5.0
pyyaml
requests
rich
safetensors==0.4.1
scipy
sentencepiece
tensorboard
transformers==4.36.*
tqdm
wandb
