[submodule "python/llm/vendor/llama.cpp"]
	path = python/llm/vendor/llama.cpp
	url = https://github.com/analytics-zoo/llama.cpp.git
	branch = server
[submodule "python/llm/vendor/redpajama.cpp"]
	path = python/llm/vendor/redpajama.cpp
	url = https://github.com/analytics-zoo/redpajama.cpp.git
	branch = python-binding
[submodule "python/llm/vendor/bloomz.cpp"]
	path = python/llm/vendor/bloomz.cpp
	url = https://github.com/analytics-zoo/bloomz.cpp.git
	branch = server
