*.pyc
*.class
*.log
dl/src/main/python/.idea/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml
.idea/

# other
*.txt
*.csv
nohup.out
model*.[0-9]*
state*.[0-9]*
