client-application/*/*.mp4 filter=lfs diff=lfs merge=lfs -text
client-application/*/*.zip filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text