# lighttpd manifest example

loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ install_dir }}/sbin/lighttpd"

loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:{{ install_dir }}/lib"

loader.insecure__use_cmdline_argv = true

sys.enable_sigterm_injection = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr", uri = "file:/usr" },
  { path = "{{ install_dir_abspath }}", uri = "file:{{ install_dir }}" },

  { type = "tmpfs", path = "/var/tmp" },
]

sgx.debug = true
sgx.nonpie_binary = true
sgx.enclave_size = "256M"
sgx.thread_num = 3

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ install_dir }}/",
  "file:{{ arch_libdir }}/",
  "file:/usr/{{ arch_libdir }}/",
  "file:lighttpd.conf",
  "file:lighttpd-generic.conf",
  "file:lighttpd-server.conf",
]
