# These are mirrored in python/orca/src/setup.py as install_requires, 
# which is what the users of the bigdl-orca[automl] package will install.
#
# In short, if you change it here, PLEASE also change it in setup.py

aiohttp==3.8.1
aioredis==1.3.1
async-timeout==4.0.1
hiredis==2.0.0
psutil
prometheus-client==0.11.0
ray[default]==1.9.2
ray[tune]==1.9.2
scikit-learn
setproctitle
tensorboard
protobuf==3.19.5
