cloudpickle==1.3.0
matplotlib==3.3.3
opencv-python==4.2.0.34
pandas==1.1.0
torchmetrics==0.5.1
tensorboard==2.6.0
jupyter
pytest==5.4.1
tqdm
albumentations
scikit-learn==0.24.2
jep==3.9.1
torch==1.7.1
torchtext==0.8.1
torchvision==0.8.2
protobuf==3.12.0
wheel==0.34.2
