.card-custom {
    border: 1px solid rgb(235, 235, 235);
}

.card-header-custom  {
    background-color: rgb(230, 230, 230);
    color: black;
    text-align: center;
}

.card-header-custom > b, strong{
    font-size: 17px;
}

.card-footer-custom  {
    background-color: rgb(240, 240, 240);
}

.card-button-custom  {
    color: rgb(41, 128, 185) !important;
    border: 1px solid rgb(41, 128, 185) !important;
}

.card-button-custom:hover {
    color: white !important;
    background-color: rgb(41, 128, 185) !important;
}