/* change primary & info color for light mode*/
html[data-theme="light"] {
    --pst-color-primary: rgb(1, 113, 195);
    --pst-color-info: rgb(1, 113, 195);
}

/* ectra css variables */
:root {
    --pst-color-info-tiny-opacity: rgba(1, 113, 195, 0.1);
    --pst-color-info-low-opacity: rgba(1, 113, 195, 0.25);
}

/* force middle article contents to break an entire word 
   that cannot be put inside one line (e.g. a long url) */
.bd-article-container {
    overflow-wrap: break-word;
}

/* make inline code block break word
   if an entire word cannot be put inside one line,
   or break at normal line break places such as / */
code span.pre {
    white-space: normal;
}

/* align items in the left part of header to the ground*/
.bd-header #navbar-start {
    align-items: end;
}

/* for version badge, possible for other badges*/
.version-badge {
    border: 1px solid var(--pst-color-primary);
    border-radius: 0.25rem;
    color: var(--pst-color-primary);
    padding: 0.1rem 0.25rem;
    font-size: var(--pst-font-size-milli);
}

/* for card components */
.bd-content .sd-card {
    border: none;
    border-left: .2rem solid var(--pst-color-info-low-opacity);
}

.bd-content .sd-card .sd-card-header {
    background-color: var(--pst-color-info-tiny-opacity);
    border: none;
}

.bigdl-link-card:hover {
    border-left: .2rem solid var(--pst-color-info);
}

/* for sphinx-design badge components (customized for usage in card footer)*/
.sd-badge {
    padding: .35em 0em;
    font-size: 0.9em;
}

/* for landing page side bar */
.bigdl-quicklinks-section-nav {
    padding-left: 1rem;
}

.bigdl-quicklinks-section-title {
    color: var(--pst-color-primary);
    padding: 0.25rem 0rem;
}


/* make the sidebars sticky */

/* make the page footer position absolute to aviod pushing sidebars up when scrolling to the end of the page */
.bd-footer{
    position: absolute;
    bottom: 0;
    background-color: var(--pst-color-on-background);
}

/* make its parent element position relative to ensure the "position:absolute" change valid */
body{
    position: relative;
}

/* set the height of footer */
footer.bd-footer{
    height: 5rem;
}

/* the margin height is just the height of original footer, to avoid content overlapping */
.bd-footer-article {
    margin-bottom: 5rem;
}

/* for tables in documentation guides, vertically center rows */
.bigdl-documentation-guide-tables td{
    vertical-align: middle;
}

/* for tables in notebooks generated by pandas dataframe */
.rendered_html table {
    table-layout: auto !important;
}