# Nginx manifest example

loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ install_dir }}/sbin/nginx"

loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/local/lib:/usr/lib:/usr/{{ arch_libdir }}"

loader.argv_src_file = "file:nginx_args"
sys.enable_sigterm_injection = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr{{ arch_libdir }}", uri = "file:/usr{{ arch_libdir }}" },
  { path = "/usr/local/lib", uri = "file:/usr/local/lib" },
  { path = "/etc", uri = "file:/etc" },
  { path = "{{ install_dir_abspath }}", uri = "file:{{ install_dir }}" },
]

sgx.debug = true
sgx.nonpie_binary = true
sgx.enclave_size = "512M"
sgx.thread_num = 4

# Nginx benefits from Exitless. Uncomment the below line to use it.
#sgx.rpc_thread_num = 4

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ install_dir }}/sbin/nginx",
  "file:{{ install_dir }}/conf/",
  "file:{{ install_dir }}/html/",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ arch_libdir }}/",
  "file:/usr/{{ arch_libdir }}/",
  "file:nginx_args",
]

sgx.allowed_files = [
  "file:{{ install_dir }}/logs",
  "file:/etc/nsswitch.conf",
  "file:/etc/ethers",
  "file:/etc/hosts",
  "file:/etc/group",
  "file:/etc/passwd",
]
