# These are mirrored in python/nano/setup.py, 
# which is what the users of the bigdl-nano[tensorflow] package will install.
#
# In short, if you change it here, PLEASE also change it in setup.py
# Actrual installation logic will follow setup.py

intel-tensorflow==2.9.1
tf2onnx==1.13.0
