sphinx-copybutton
sphinx-version-warning
sphinx-click
sphinx-jsonschema
sphinxemoji
click
tensorflow==1.15.2
bigdl==0.12.0
ray[tune]==1.2.0
ray==1.2.0
torch==1.7.1
Pygments==2.3.1
setuptools==41.0.1
docutils==0.14
mock==1.0.1
pillow==5.4.1
sphinx==4.0.2
alabaster>=0.7,<0.8,!=0.7.5
commonmark==0.8.1
recommonmark==0.5.0
readthedocs-sphinx-ext<2.2
sphinx_rtd_theme==0.5.2
scikit-learn==0.22.2.post1
tsfresh==0.18.0
pystan==2.19.1.1
prophet
pmdarima
sphinx_markdown_tables
numpy==1.21.2