loader.entrypoint = "file:{{ binary_dir }}/{{ entrypoint }}"
loader.log_level = "debug"
loader.insecure__use_cmdline_argv = true

sgx.debug = true

# PAL tests use `DkVirtualMemoryAlloc(PAL_ALLOC_INTERNAL)` which must allocate in the PAL-internal
# part of the Gramine memory
loader.pal_internal_mem_size = "64M"

sgx.nonpie_binary = true # all tests are currently non-PIE unless overridden

sgx.allowed_files = [
  "file:test.txt", # for File2 test
  "file:to_send.tmp", # for SendHandle test
]

sgx.trusted_files = [
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
