loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/lib:/usr/lib64"
loader.env.PATH = "/bin:/usr/bin:."
loader.env.LD_PRELOAD = "{{ coreutils_libdir }}/libstdbuf.so"
loader.env._STDBUF_O = "L"
loader.insecure__use_cmdline_argv = true

fs.root.uri = "file:{{ binary_dir }}"

fs.mounts = [
  { path = "/etc", uri = "file:/etc" },
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr", uri = "file:/usr" },
  { path = "/tmp", uri = "file:/tmp" },
]

sys.brk.max_size = "32M"
sys.stack.size = "4M"
sgx.nonpie_binary = true
sgx.debug = true

sgx.allowed_files = [
  "file:/tmp",
]

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ binary_dir }}/{{ entrypoint }}",
  "file:{{ gramine.runtimedir() }}/ld-linux-x86-64.so.2",
  "file:{{ gramine.runtimedir() }}/libc.so.6",
  "file:{{ gramine.runtimedir() }}/libdl.so.2",
  "file:{{ gramine.runtimedir() }}/libm.so.6",
  "file:{{ gramine.runtimedir() }}/libpthread.so.0",
  "file:{{ gramine.runtimedir() }}/librt.so.1",
  "file:{{ coreutils_libdir }}/libstdbuf.so",
]
