absl-py==0.10.0
aiohttp-cors==0.7.0
aioredis==1.3.1
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
atari-py==0.2.6
attrs==20.1.0
backcall==0.2.0
beautifulsoup4==4.9.1
bleach==3.3.0
blessings==1.7
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorful==0.5.4
conda-pack==0.3.1
contextvars==2.4
cycler==0.10.0
Cython==0.29.24
decorator==4.4.2
defusedxml==0.7.1
dm-tree==0.1.5
entrypoints==0.3
filelock==3.0.12
future==0.18.2
gast==0.3.3
google==3.0.0
google-api-core==1.26.1
google-auth==1.27.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.31.0
gym==0.18.0
h5py==2.10.0
hiredis==1.1.0
idna==2.10
immutables==0.15
importlib-metadata==1.7.0
iniconfig==1.0.1
ipykernel==5.5.0
ipython==7.21.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lz4==3.1.3
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mkllibs-test==0.0.2
more-itertools==8.5.0
msgpack==1.0.2
multidict==4.7.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==3.0.16
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.7.0
py==1.9.0
py-spy==0.3.3
py4j==0.10.7
pyarrow==0.17.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.0
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.3.1
pyzmq==22.0.3
qtconsole==5.0.2
QtPy==1.9.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.24.2
scipy==1.4.1
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.15.0
soupsieve==2.0.1
statsmodels==0.12.2
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.4
tflibs-test==0.0.2
threadpoolctl==2.2.0
toml==0.10.1
torch==1.6.0
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.5.1
zipp==3.1.0