loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ entrypoint }}"

loader.argv0_override = "{{ entrypoint }}"
loader.env.LD_LIBRARY_PATH = "/lib"

# application allocates 2GB and 4GB memory regions which may occasionally fail
# in an SGX enclave restricted to 8GB of virtual space if ASLR is enabled
loader.insecure__disable_aslr = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir(libc) }}" },
  { path = "/{{ entrypoint }}", uri = "file:{{ binary_dir }}/{{ entrypoint }}" },
]

sgx.enclave_size = "8G"
sgx.nonpie_binary = true
sgx.debug = true

sgx.allowed_files = [
  "file:testfile",
]

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ gramine.runtimedir(libc) }}/",
  "file:{{ binary_dir }}/{{ entrypoint }}",
]
