# This file is copied from https://github.com/OpenAccess-AI-Collective/axolotl/blob/v0.4.0/requirements.txt
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
packaging==23.2
peft==0.10.0
tokenizers
bitsandbytes>=0.41.1
accelerate==0.23.0
deepspeed>=0.13.1
addict
fire
PyYAML>=6.0
datasets
#flash-attn==2.3.3
sentencepiece
wandb
einops
#xformers==0.0.22
optimum==1.13.2
hf_transfer
colorama
numba
numpy>=1.24.4
mlflow
# qlora things
bert-score==0.3.13
evaluate==0.4.0
rouge-score==0.1.2
scipy
scikit-learn>=1.5.0
pynvml
art
fschat
gradio>=4.19.2
tensorboard

mamba-ssm==1.1.1

# remote filesystems
s3fs
gcsfs
# adlfs

trl>=0.7.9, <=0.9.6
